:root {
    --background-color: white;
    /* Tea Rose */
    --header-background: #fff;
    /* Steel Blue */
    --link-color: #0d2435;
    /* Steel Blue links */
    --text-color: #333;
    /* Dark gray text */
    --footer-background: #F4C3C2;
    /* Tea Rose footer */
}

body {
    background-color: var(--background-color);
    font-family: "Sniglet", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 799px;
    margin: 0;
    padding: 1px;
    color: var(--text-color);
}

/* Mobile View ***************/

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 599px;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 1rem;

}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

#categorynav {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: var(--text-color);
}

#categorynav::before {
    content: "Caterogy";
}

#categorynav.show::before {
    content: "Category";
}

nav {
    background-color: var(--header-background);
}

h1 {
    font-weight: 100;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-background);
    padding: 10px;
    width: 98%;
    text-align: left;
    color: #333;
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: 0 auto;
    font-family: "Playwrite GB S", serif;
}

p {
    margin: 10px;
    font-family: "Playwrite GB S", serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
    width: 92%;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem auto 0;
    border-top: 1px solid #443850;
    font-size: 0.8rem;
    font-family: "Playwrite GB S", serif;
}

footer img {
    width: 30px;
}

/*--------Classes---------*/

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active,
.category a:hover,
.category a:active {
    color: gray;
    background-color: var(--background-color);
}

.navigation li,
.category li {
    display: none;
}

.show li {
    display: block;
}

.category a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.category_option {
    width: 50%;
    margin: 25px 20%;
    text-align: center;
}



.search_input input[type="text"] {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .55rem;
    color: #555;
    width: 60%;
    margin: 25px 20%;
}

.select-button {
    border: none;
    background-image: #fff;
    color: var(--text-color);
    border-radius: 6px;
    width: 50%;
    padding: .50rem;
    margin: 10px 25%;
    box-shadow: 1px 1px 4px #4d4a4a;
    cursor: pointer;
}

.products-grid {
    border: none;
    display: flex;
    flex-flow: column;
    gap: 15px;
    padding: 1em;
    margin: auto;
}

.products-grid img {
    max-width: 300px;
    max-height: 400px;
    border-radius: 10px;
}

.banner {
    position: relative;
    object-fit: cover;
    max-width: 699px;
    width: 100%;
    color: white;
    margin: 25px auto;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}



.information {
    display: flex;
    grid-column: 1fr 1fr;
    gap: 15px;
}

.information div {
    justify-content: center;
}

.information h1 {
    text-align: center;
    margin: 15px auto;
}

.information ul {
    padding: 20px;
    font-size: 1em;
    font-weight: 100;
}

.information li {
    list-style: none;
    text-align: center;
    font-weight: lighter;
}

iframe {
    width: 100%;
    height: 400px;
}

/*------Form------*/

.contactf form {
    align-items: center;
    justify-self: end;
}

.contactf fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    width: 410px;
}

.contactf legend {
    color: #445ba9;
    padding: 0 .5rem;
}

.contactf label {
    padding-top: 1rem;
    display: block;
    color: #3581B8;
    font-size: .9rem;
}

.contactf input[type="text"],
.contactf input[type="tel"],
.contactf input[type="email"],
.contactf input[type="number"],
.contactf input[type="date"],
.contactf select {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 93%;
    max-width: 400px;
}

.contactf input[type="checkbox"] {
    margin-right: 6px;

}

.contactf textarea {
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

.contactf input[type="submit"] {
    display: grid;
    border: none;
    background-image: linear-gradient(#352d29, #3581B8);
    justify-content: center;
    padding: 0.8rem;
    color: #fff;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 1px 1px 4px #999;
}

.contactf input:required {
    border-right: solid 8px red;
}

.contactf input:required:valid {
    border-right: solid 8px green;
}

.thank {
    font-size: 3rem;
    font-weight: bold;
    margin: 50px 20%;
    text-align: center;
}