#menu-toggle {
    position: absolute; /* Positions it relative to the header */
    top: 1rem; /* Moves it to the top */
    right: 1rem; /* Aligns it to the right */
    display: block;
    background: none;
    border: none;
    color: antiquewhite;
    font-size: 2em;
    cursor: pointer;
    z-index: 1000; /* Ensures it's above other elements */
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

header {
    width:100%;
    text-align: center;
    background-color: #333;
    color: antiquewhite;
    padding: 2rem;
    grid-column: 1/-1; /* Adjusted */
}

img {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    width: 100%;
    background-color: #333;
    color: aliceblue;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3; /* Adjusted */
}

#menu-toggle {
    display: block;
    background: none;
    border: none;
    color: antiquewhite;
    font-size: 2em;
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}

.navigation {
    display: none;
    position: absolute; /* Keeps it floating below the header */
    top: 80px; /* Adjusts its position right below the header */
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it appears above other elements */
}
.navigation.active {
    opacity: 1;
    display: block;
}

.navigation li {
    margin-bottom: 1rem;
}

.navigation a {
    color: antiquewhite;
    text-decoration: none;
}

main {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Basic styling for temple cards */
.temple {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 250px; /* Adjust width as needed */
    float: left; /* For horizontal layout */
}