@media screen and (min-width: 500px) {

    main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    #menu-toggle {
        display: none; /* Hide the button */
    }

    .navigation {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        display: block;
        color: antiquewhite;
        text-align: center;
    }

    .navigation a:hover{
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: aqua;
    }
    
}